.cart {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}
input {
  width: 18px;
}

img {
  width: 82.5px;
  height: 102px;
}
.cart_details {
  margin-left: 20px;
}

.cart_arrow {
  position: relative;
  top: 5px;
  left: 5px;

  padding-right: 10px;
}
