.header_top {
  height: 65px;
  width: 100%;
  background-color: #3949ab;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

.header_h1 {
  margin-top: 15px;
}

.header_link {
  text-decoration: none;
  color: aliceblue;
}

.header_login {
  text-decoration: none;
  color: aliceblue;
}
.header {
  border: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
}
