.product {
  border: 2px solid rgba(0, 100, 100, 1);
  border-radius: 10px;
  margin-top: 20px;
  width: 230px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: 35px;
  margin-left: 5px;
}

.product_img {
  height: 250px;
  width: 230px;
}

.product_cart {
  margin-left: 20px;
  padding-top: 40px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  top: 12px;
  left: -15px;
}
